USE [QAQC_TrainingApp]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_TrainingRequest_DT]    Script Date: 13/04/2026 08:02:39 ******/
CREATE TYPE [dbo].[TVP_TrainingRequest_DT] AS TABLE(
	[StaffId] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[Language] [nvarchar](50) NULL,
	[Nationality] [nvarchar](50) NULL,
	[CostCenter] [nvarchar](50) NULL,
	[Remarks] [nvarchar](200) NULL
)
GO
/****** Object:  Table [dbo].[ApprovalProcessLevels]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalProcessLevels](
	[ApprovalLevelID] [int] IDENTITY(1,1) NOT NULL,
	[ProcessID] [int] NOT NULL,
	[LevelNo] [int] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[IsFinalLevel] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalProcessMaster]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalProcessMaster](
	[ProcessID] [int] IDENTITY(1,1) NOT NULL,
	[ProcessName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProcessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseMaster]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseMaster](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[LocationDescription] [nvarchar](max) NOT NULL,
	[DurationHrs] [int] NOT NULL,
	[RefresherYrs] [int] NULL,
	[CourseAbbr] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedUserId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[TypeOfTraining] [tinyint] NOT NULL,
	[ServiceType] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Validity] [nvarchar](50) NULL,
	[ServiceProvider] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginLog]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginLog](
	[LoginLogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[LoginTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerMaster]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerMaster](
	[TrainerMaster_HTID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[RequestMode] [int] NOT NULL,
	[EmployeeId] [nvarchar](50) NOT NULL,
	[EmailID] [nvarchar](150) NOT NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[Comments] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreateUserID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedUserID] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainerMaster_HTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingRequest_DT]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingRequest_DT](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[StaffId] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[Language] [nvarchar](50) NULL,
	[Nationality] [nvarchar](50) NULL,
	[CostCenter] [nvarchar](50) NULL,
	[Remarks] [nvarchar](200) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[CreatedUserId] [int] NULL,
	[UpdatedUserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingRequest_HT]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingRequest_HT](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestDate] [date] NULL,
	[TrainingTitle] [varchar](100) NULL,
	[TrainingCategory] [varchar](100) NULL,
	[Location] [nvarchar](100) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[RequestedCost] [decimal](18, 2) NULL,
	[PaymentMode] [nvarchar](50) NULL,
	[RequesterName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NULL,
	[ContactNo] [nvarchar](20) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[CreatedUserId] [int] NULL,
	[UpdatedUserId] [int] NULL,
	[ScheduleID] [int] NULL,
	[ScheduleDetailID] [int] NULL,
	[RejectReason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingScheduleApprovalTracker]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingScheduleApprovalTracker](
	[TrackerID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[LevelNo] [int] NULL,
	[RoleName] [nvarchar](50) NULL,
	[ApprovedByUserID] [int] NULL,
	[ApprovedOn] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TrackerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingScheduleApproverMapping]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingScheduleApproverMapping](
	[MappingID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[UserID] [int] NULL,
	[RoleName] [nvarchar](50) NULL,
	[LevelNo] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingScheduleRequest_DT]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingScheduleRequest_DT](
	[ScheduleDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NULL,
	[TrainingDate] [date] NULL,
	[Day] [nvarchar](20) NULL,
	[Week] [nvarchar](20) NULL,
	[CourseID] [int] NULL,
	[VenueID] [int] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingScheduleRequest_HT]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingScheduleRequest_HT](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[RequestMode] [nvarchar](50) NULL,
	[Sector] [nvarchar](100) NULL,
	[CreatedUserId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[TrainingScheduleCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile_HT]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile_HT](
	[UserProfile_HTID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[DOB] [datetime] NULL,
	[Emailid] [nvarchar](500) NOT NULL,
	[Password] [nvarchar](4000) NOT NULL,
	[Gender] [char](1) NULL,
	[Address1] [varchar](1000) NULL,
	[Address2] [varchar](1000) NULL,
	[Address3] [varchar](1000) NULL,
	[PostalCode] [varchar](50) NULL,
	[Country_ID] [int] NULL,
	[PhoneCode] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[ActiveStatus] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[UserRole_HTID] [int] NULL,
	[EmployeeID] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserProfile_HT] PRIMARY KEY CLUSTERED 
(
	[UserProfile_HTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole_HT]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole_HT](
	[UserRole_HTID] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleName] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[IsAdmin] [bit] NULL,
	[ActiveStatus] [bit] NULL,
	[CreatedUser_ID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedUser_ID] [int] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRole_HTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VenueMaster]    Script Date: 13/04/2026 08:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VenueMaster](
	[VenueId] [int] IDENTITY(1,1) NOT NULL,
	[VenueDescription] [nvarchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedUserId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VenueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApprovalProcessLevels] ON 

INSERT [dbo].[ApprovalProcessLevels] ([ApprovalLevelID], [ProcessID], [LevelNo], [RoleName], [IsFinalLevel], [IsActive], [CreatedOn]) VALUES (1, 1, 1, N'Supervisor', 0, 1, CAST(N'2026-02-24T08:51:49.030' AS DateTime))
INSERT [dbo].[ApprovalProcessLevels] ([ApprovalLevelID], [ProcessID], [LevelNo], [RoleName], [IsFinalLevel], [IsActive], [CreatedOn]) VALUES (2, 1, 2, N'Manager', 1, 1, CAST(N'2026-02-24T08:51:49.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[ApprovalProcessLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[ApprovalProcessMaster] ON 

INSERT [dbo].[ApprovalProcessMaster] ([ProcessID], [ProcessName], [IsActive], [CreatedOn]) VALUES (1, N'Training Schedule', 1, CAST(N'2026-02-24T08:48:12.920' AS DateTime))
INSERT [dbo].[ApprovalProcessMaster] ([ProcessID], [ProcessName], [IsActive], [CreatedOn]) VALUES (2, N'Leave Request', 1, CAST(N'2026-02-24T08:48:12.920' AS DateTime))
INSERT [dbo].[ApprovalProcessMaster] ([ProcessID], [ProcessName], [IsActive], [CreatedOn]) VALUES (3, N'Purchase Request', 1, CAST(N'2026-02-24T08:48:12.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[ApprovalProcessMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseMaster] ON 

INSERT [dbo].[CourseMaster] ([CourseId], [Code], [LocationDescription], [DurationHrs], [RefresherYrs], [CourseAbbr], [Status], [CreatedUserId], [CreatedOn], [UpdatedOn], [TypeOfTraining], [ServiceType], [Price], [Validity], [ServiceProvider]) VALUES (10, N'', N'HR Company Induction', 2, 2, N'H2S', 1, 2003, CAST(N'2026-04-12T11:55:25.080' AS DateTime), NULL, 1, N'N/A', CAST(2500.00 AS Decimal(10, 2)), N'2', N'In-house')
INSERT [dbo].[CourseMaster] ([CourseId], [Code], [LocationDescription], [DurationHrs], [RefresherYrs], [CourseAbbr], [Status], [CreatedUserId], [CreatedOn], [UpdatedOn], [TypeOfTraining], [ServiceType], [Price], [Validity], [ServiceProvider]) VALUES (11, N'', N'HSE Induction', 2, 2, N'', 1, 2003, CAST(N'2026-04-12T11:56:13.360' AS DateTime), NULL, 1, N'N/A', CAST(1250.50 AS Decimal(10, 2)), N'2', N'In-house')
INSERT [dbo].[CourseMaster] ([CourseId], [Code], [LocationDescription], [DurationHrs], [RefresherYrs], [CourseAbbr], [Status], [CreatedUserId], [CreatedOn], [UpdatedOn], [TypeOfTraining], [ServiceType], [Price], [Validity], [ServiceProvider]) VALUES (12, N'', N'Manual Handling', 2, 2, N'', 1, 2003, CAST(N'2026-04-12T11:56:55.733' AS DateTime), NULL, 1, N'NA', CAST(8500.00 AS Decimal(10, 2)), N'4', N'In-house')
SET IDENTITY_INSERT [dbo].[CourseMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginLog] ON 

INSERT [dbo].[LoginLog] ([LoginLogId], [UserId], [Username], [IpAddress], [Latitude], [Longitude], [LoginTime]) VALUES (1, 1, N'admin@amwajgroup.qa', N'::1', CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), CAST(N'2026-02-22T09:14:14.617' AS DateTime))
INSERT [dbo].[LoginLog] ([LoginLogId], [UserId], [Username], [IpAddress], [Latitude], [Longitude], [LoginTime]) VALUES (2, 2, N'user1@amwajgroup.qa', N'::1', CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), CAST(N'2026-02-22T09:17:17.337' AS DateTime))
INSERT [dbo].[LoginLog] ([LoginLogId], [UserId], [Username], [IpAddress], [Latitude], [Longitude], [LoginTime]) VALUES (3, 2, N'user1@amwajgroup.qa', N'::1', CAST(0.000000 AS Decimal(9, 6)), CAST(0.000000 AS Decimal(9, 6)), CAST(N'2026-02-22T09:22:34.400' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoginLog] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainerMaster] ON 

INSERT [dbo].[TrainerMaster] ([TrainerMaster_HTID], [FirstName], [MiddleName], [LastName], [RequestMode], [EmployeeId], [EmailID], [Mobile], [Comments], [IsActive], [CreateUserID], [CreatedDate], [ModifiedUserID], [ModifiedDate]) VALUES (1, N'Akhil', N'v', N'George', 0, N'1223', N'akhil.vinu@amwajgroup.qa', N'77738256', N'test', 0, 1, CAST(N'2026-02-12T10:03:03.657' AS DateTime), 1, CAST(N'2026-02-12T10:03:03.670' AS DateTime))
INSERT [dbo].[TrainerMaster] ([TrainerMaster_HTID], [FirstName], [MiddleName], [LastName], [RequestMode], [EmployeeId], [EmailID], [Mobile], [Comments], [IsActive], [CreateUserID], [CreatedDate], [ModifiedUserID], [ModifiedDate]) VALUES (2, N'John', N'K', N'George', 1, N'', N'akhil.vinu@amwajgroup.qa', N'55523451', N'nop', 1, 1, CAST(N'2026-02-12T14:45:55.167' AS DateTime), 1, CAST(N'2026-02-12T14:45:55.167' AS DateTime))
INSERT [dbo].[TrainerMaster] ([TrainerMaster_HTID], [FirstName], [MiddleName], [LastName], [RequestMode], [EmployeeId], [EmailID], [Mobile], [Comments], [IsActive], [CreateUserID], [CreatedDate], [ModifiedUserID], [ModifiedDate]) VALUES (3, N'Test', N'Vinu', N'George', 0, N'EMP123', N'akhil@example.com', N'5551234567', N'New trainer added', 1, 1, CAST(N'2026-02-12T15:13:08.413' AS DateTime), 1, CAST(N'2026-02-12T15:13:08.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[TrainerMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingRequest_DT] ON 

INSERT [dbo].[TrainingRequest_DT] ([DetailId], [RequestId], [StaffId], [FullName], [Designation], [Language], [Nationality], [CostCenter], [Remarks], [CreatedOn], [UpdatedOn], [CreatedUserId], [UpdatedUserId]) VALUES (6422, 6026, N'1245', N'AVG', N'GG', N'EN', N'IND', N'200', N'TEST', CAST(N'2026-04-12T12:49:58.207' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[TrainingRequest_DT] ([DetailId], [RequestId], [StaffId], [FullName], [Designation], [Language], [Nationality], [CostCenter], [Remarks], [CreatedOn], [UpdatedOn], [CreatedUserId], [UpdatedUserId]) VALUES (6423, 6027, N'S001', N'John Doe', N'Trainer', N'English', N'USA', N'CC101', N'N/A', CAST(N'2026-04-13T05:00:49.967' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[TrainingRequest_DT] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingRequest_HT] ON 

INSERT [dbo].[TrainingRequest_HT] ([RequestId], [RequestDate], [TrainingTitle], [TrainingCategory], [Location], [FromDate], [ToDate], [RequestedCost], [PaymentMode], [RequesterName], [Department], [ContactNo], [Status], [CreatedOn], [UpdatedOn], [CreatedUserId], [UpdatedUserId], [ScheduleID], [ScheduleDetailID], [RejectReason]) VALUES (6026, NULL, NULL, NULL, NULL, CAST(N'2026-04-23' AS Date), CAST(N'2026-04-21' AS Date), NULL, NULL, N'AKHIL', N'QAQC', N'77785214', N'1', CAST(N'2026-04-12T12:49:58.200' AS DateTime), NULL, 1, NULL, 1008, 1010, NULL)
INSERT [dbo].[TrainingRequest_HT] ([RequestId], [RequestDate], [TrainingTitle], [TrainingCategory], [Location], [FromDate], [ToDate], [RequestedCost], [PaymentMode], [RequesterName], [Department], [ContactNo], [Status], [CreatedOn], [UpdatedOn], [CreatedUserId], [UpdatedUserId], [ScheduleID], [ScheduleDetailID], [RejectReason]) VALUES (6027, NULL, NULL, NULL, NULL, CAST(N'2026-04-30' AS Date), CAST(N'2026-04-25' AS Date), NULL, NULL, N'akhoi', N'ghg', N'12345698', N'1', CAST(N'2026-04-13T05:00:49.963' AS DateTime), NULL, 1, NULL, 1007, 1008, NULL)
SET IDENTITY_INSERT [dbo].[TrainingRequest_HT] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingScheduleApprovalTracker] ON 

INSERT [dbo].[TrainingScheduleApprovalTracker] ([TrackerID], [ScheduleID], [LevelNo], [RoleName], [ApprovedByUserID], [ApprovedOn], [Status], [Remarks], [CreatedOn]) VALUES (8034, 8, 1, N'Supervisor', NULL, NULL, N'Pending', NULL, CAST(N'2026-04-01T16:04:44.400' AS DateTime))
INSERT [dbo].[TrainingScheduleApprovalTracker] ([TrackerID], [ScheduleID], [LevelNo], [RoleName], [ApprovedByUserID], [ApprovedOn], [Status], [Remarks], [CreatedOn]) VALUES (8035, 8, 2, N'Manager', NULL, NULL, N'NotStarted', NULL, CAST(N'2026-04-01T16:04:44.443' AS DateTime))
INSERT [dbo].[TrainingScheduleApprovalTracker] ([TrackerID], [ScheduleID], [LevelNo], [RoleName], [ApprovedByUserID], [ApprovedOn], [Status], [Remarks], [CreatedOn]) VALUES (9034, 1008, 1, N'Supervisor', 2003, CAST(N'2026-04-12T15:24:12.410' AS DateTime), N'Approved', N'', CAST(N'2026-04-02T10:13:56.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[TrainingScheduleApprovalTracker] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingScheduleApproverMapping] ON 

INSERT [dbo].[TrainingScheduleApproverMapping] ([MappingID], [ScheduleID], [UserID], [RoleName], [LevelNo], [IsActive], [CreatedOn]) VALUES (8027, 8, 2003, N'Supervisor', 1, 1, CAST(N'2026-04-01T16:04:44.340' AS DateTime))
INSERT [dbo].[TrainingScheduleApproverMapping] ([MappingID], [ScheduleID], [UserID], [RoleName], [LevelNo], [IsActive], [CreatedOn]) VALUES (8028, 8, 2005, N'Manager', 2, 1, CAST(N'2026-04-01T16:04:44.440' AS DateTime))
INSERT [dbo].[TrainingScheduleApproverMapping] ([MappingID], [ScheduleID], [UserID], [RoleName], [LevelNo], [IsActive], [CreatedOn]) VALUES (9027, 1008, 2003, N'Supervisor', 1, 1, CAST(N'2026-04-02T10:13:56.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[TrainingScheduleApproverMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingScheduleRequest_DT] ON 

INSERT [dbo].[TrainingScheduleRequest_DT] ([ScheduleDetailID], [ScheduleID], [TrainingDate], [Day], [Week], [CourseID], [VenueID], [StartTime], [EndTime]) VALUES (1008, 1007, CAST(N'2026-04-13' AS Date), N'Monday', N'Week 2', 12, 2003, CAST(N'14:01:00' AS Time), CAST(N'16:02:00' AS Time))
INSERT [dbo].[TrainingScheduleRequest_DT] ([ScheduleDetailID], [ScheduleID], [TrainingDate], [Day], [Week], [CourseID], [VenueID], [StartTime], [EndTime]) VALUES (1009, 1007, CAST(N'2026-04-30' AS Date), N'Thursday', N'Week 5', 11, 2002, CAST(N'15:02:00' AS Time), CAST(N'17:03:00' AS Time))
INSERT [dbo].[TrainingScheduleRequest_DT] ([ScheduleDetailID], [ScheduleID], [TrainingDate], [Day], [Week], [CourseID], [VenueID], [StartTime], [EndTime]) VALUES (1010, 1008, CAST(N'2026-05-08' AS Date), N'Friday', N'Week 2', 12, 4, CAST(N'16:25:00' AS Time), CAST(N'19:27:00' AS Time))
SET IDENTITY_INSERT [dbo].[TrainingScheduleRequest_DT] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingScheduleRequest_HT] ON 

INSERT [dbo].[TrainingScheduleRequest_HT] ([ScheduleID], [RequestMode], [Sector], [CreatedUserId], [CreatedDate], [Status], [TrainingScheduleCode]) VALUES (1007, N'calendar', N'RLIC', 2003, CAST(N'2026-04-12T11:57:46.567' AS DateTime), 4, N'AMJ-CAL-2026-04-001-RLIC')
INSERT [dbo].[TrainingScheduleRequest_HT] ([ScheduleID], [RequestMode], [Sector], [CreatedUserId], [CreatedDate], [Status], [TrainingScheduleCode]) VALUES (1008, N'calendar', N'Doha', 1, CAST(N'2026-04-12T15:23:52.973' AS DateTime), 4, N'AMJ-CAL-2026-05-001-Doha')
INSERT [dbo].[TrainingScheduleRequest_HT] ([ScheduleID], [RequestMode], [Sector], [CreatedUserId], [CreatedDate], [Status], [TrainingScheduleCode]) VALUES (1009, N'client', N'', 1, CAST(N'2026-04-12T15:35:18.557' AS DateTime), 4, N'AMJ-CLI-2026-04-001')
SET IDENTITY_INSERT [dbo].[TrainingScheduleRequest_HT] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfile_HT] ON 

INSERT [dbo].[UserProfile_HT] ([UserProfile_HTID], [FirstName], [MiddleName], [LastName], [DOB], [Emailid], [Password], [Gender], [Address1], [Address2], [Address3], [PostalCode], [Country_ID], [PhoneCode], [PhoneNumber], [ActiveStatus], [CreatedDate], [ModifiedDate], [UserRole_HTID], [EmployeeID]) VALUES (1, N'Admin', NULL, NULL, NULL, N'qaqcadmin@amwajgroup.qa', N'TEST', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2026-02-03T12:02:32.320' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[UserProfile_HT] ([UserProfile_HTID], [FirstName], [MiddleName], [LastName], [DOB], [Emailid], [Password], [Gender], [Address1], [Address2], [Address3], [PostalCode], [Country_ID], [PhoneCode], [PhoneNumber], [ActiveStatus], [CreatedDate], [ModifiedDate], [UserRole_HTID], [EmployeeID]) VALUES (2003, N'Varun', N'A.', N'Doe', CAST(N'1985-06-15T00:00:00.000' AS DateTime), N'akhilvinugeorge@gmail.com', N'TEST', N'1', N'123 Main St', N'Suite 4', N'Downtown', N'12345', 1, N'+974', N'5551234', 1, CAST(N'2026-02-23T10:28:27.823' AS DateTime), NULL, 3, NULL)
INSERT [dbo].[UserProfile_HT] ([UserProfile_HTID], [FirstName], [MiddleName], [LastName], [DOB], [Emailid], [Password], [Gender], [Address1], [Address2], [Address3], [PostalCode], [Country_ID], [PhoneCode], [PhoneNumber], [ActiveStatus], [CreatedDate], [ModifiedDate], [UserRole_HTID], [EmployeeID]) VALUES (2005, N'Jithesh', N'A.', N'Doe', CAST(N'1985-06-15T00:00:00.000' AS DateTime), N'akhil.vinu@amwajgroup.qa', N'TEST', N'1', N'123 Main St', N'Suite 4', N'Downtown', N'12345', 1, N'+974', N'5551234', 1, CAST(N'2026-02-23T10:29:52.100' AS DateTime), NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[UserProfile_HT] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole_HT] ON 

INSERT [dbo].[UserRole_HT] ([UserRole_HTID], [UserRoleName], [Description], [IsAdmin], [ActiveStatus], [CreatedUser_ID], [CreatedDate], [ModifiedUser_ID], [ModifiedDate]) VALUES (1, N'Admin', N'Full access to the system', 1, 1, 1001, CAST(N'2026-02-08T15:58:06.840' AS DateTime), NULL, NULL)
INSERT [dbo].[UserRole_HT] ([UserRole_HTID], [UserRoleName], [Description], [IsAdmin], [ActiveStatus], [CreatedUser_ID], [CreatedDate], [ModifiedUser_ID], [ModifiedDate]) VALUES (2, N'User', N'System User', 0, 1, 1, CAST(N'2026-02-18T10:04:32.210' AS DateTime), NULL, NULL)
INSERT [dbo].[UserRole_HT] ([UserRole_HTID], [UserRoleName], [Description], [IsAdmin], [ActiveStatus], [CreatedUser_ID], [CreatedDate], [ModifiedUser_ID], [ModifiedDate]) VALUES (3, N'Supervisor', N'Supervisor role with limited admin rights', 0, 1, 1, CAST(N'2026-02-23T10:17:45.300' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserRole_HT] OFF
GO
SET IDENTITY_INSERT [dbo].[VenueMaster] ON 

INSERT [dbo].[VenueMaster] ([VenueId], [VenueDescription], [Status], [CreatedUserId], [CreatedDate], [UpdatedDate]) VALUES (1, N'test Location ', 1, 0, CAST(N'2026-02-15T15:03:40.903' AS DateTime), CAST(N'2026-02-15T15:03:40.917' AS DateTime))
INSERT [dbo].[VenueMaster] ([VenueId], [VenueDescription], [Status], [CreatedUserId], [CreatedDate], [UpdatedDate]) VALUES (2, N'Main Hall', 1, 0, CAST(N'2026-02-15T12:00:00.000' AS DateTime), CAST(N'2026-02-15T12:00:00.000' AS DateTime))
INSERT [dbo].[VenueMaster] ([VenueId], [VenueDescription], [Status], [CreatedUserId], [CreatedDate], [UpdatedDate]) VALUES (3, N'Main Room', 1, 0, CAST(N'2026-02-15T12:00:00.000' AS DateTime), CAST(N'2026-02-15T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[VenueMaster] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Emailid]    Script Date: 13/04/2026 08:02:40 ******/
ALTER TABLE [dbo].[UserProfile_HT] ADD  CONSTRAINT [UQ_Emailid] UNIQUE NONCLUSTERED 
(
	[Emailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApprovalProcessLevels] ADD  DEFAULT ((0)) FOR [IsFinalLevel]
GO
ALTER TABLE [dbo].[ApprovalProcessLevels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApprovalProcessLevels] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ApprovalProcessMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseMaster] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CourseMaster] ADD  DEFAULT (getutcdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CourseMaster] ADD  DEFAULT ('N/A') FOR [ServiceType]
GO
ALTER TABLE [dbo].[CourseMaster] ADD  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [dbo].[LoginLog] ADD  DEFAULT (getdate()) FOR [LoginTime]
GO
ALTER TABLE [dbo].[TrainingRequest_DT] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TrainingRequest_HT] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TrainingRequest_HT] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TrainingScheduleApprovalTracker] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TrainingScheduleApproverMapping] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[UserProfile_HT] ADD  CONSTRAINT [DF_UserProfile_HT_ActiveStatus]  DEFAULT ((1)) FOR [ActiveStatus]
GO
ALTER TABLE [dbo].[UserProfile_HT] ADD  CONSTRAINT [DF_UserProfile_HT_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[VenueMaster] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VenueMaster] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ApprovalProcessLevels]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalProcessLevels_Process] FOREIGN KEY([ProcessID])
REFERENCES [dbo].[ApprovalProcessMaster] ([ProcessID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApprovalProcessLevels] CHECK CONSTRAINT [FK_ApprovalProcessLevels_Process]
GO
ALTER TABLE [dbo].[TrainingRequest_DT]  WITH CHECK ADD  CONSTRAINT [FK_TrainingRequest_Header] FOREIGN KEY([RequestId])
REFERENCES [dbo].[TrainingRequest_HT] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainingRequest_DT] CHECK CONSTRAINT [FK_TrainingRequest_Header]
GO
ALTER TABLE [dbo].[TrainingScheduleApproverMapping]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[UserProfile_HT] ([UserProfile_HTID])
GO
ALTER TABLE [dbo].[TrainingScheduleRequest_DT]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[TrainingScheduleRequest_HT] ([ScheduleID])
GO
ALTER TABLE [dbo].[TrainingScheduleRequest_DT]  WITH CHECK ADD  CONSTRAINT [FK_TrainingRequest_HT_ScheduleID] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[TrainingScheduleRequest_HT] ([ScheduleID])
GO
ALTER TABLE [dbo].[TrainingScheduleRequest_DT] CHECK CONSTRAINT [FK_TrainingRequest_HT_ScheduleID]
GO
ALTER TABLE [dbo].[TrainingScheduleRequest_DT]  WITH CHECK ADD  CONSTRAINT [FK_TrainingRequestHT_ScheduleID] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[TrainingScheduleRequest_HT] ([ScheduleID])
GO
ALTER TABLE [dbo].[TrainingScheduleRequest_DT] CHECK CONSTRAINT [FK_TrainingRequestHT_ScheduleID]
GO
/****** Object:  StoredProcedure [dbo].[GET_TrainingSchedule]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_TrainingSchedule]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
	ht.ScheduleID,
        ht.TrainingScheduleCode,
        ht.RequestMode,
        ht.Sector,
        ht.Status AS StatusCurr
    FROM dbo.TrainingScheduleRequest_HT ht
    ORDER BY ht.ScheduleID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GET_TrainingSchedule_ByID]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_TrainingSchedule_ByID]
    @ScheduleID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ht.ScheduleID,
        ht.TrainingScheduleCode,
        ht.RequestMode,
        ht.Sector,
        ht.Status AS StatusCode,
        CASE ht.Status
            WHEN 1 THEN 'PendingApproval'
            WHEN 2 THEN 'Approved'
            WHEN 3 THEN 'Rejected'
            WHEN 4 THEN 'Active'
            ELSE 'Unknown'
        END AS ScheduleStatus,
        -- JSON array for details
        (
            SELECT
                dt.TrainingDate,
                dt.Day,
                dt.Week,
                dt.CourseID,
                dt.VenueID,
                CASE WHEN dt.StartTime IS NULL THEN NULL ELSE CONVERT(VARCHAR(8), dt.StartTime, 108) END AS StartTime,
                CASE WHEN dt.EndTime IS NULL THEN NULL ELSE CONVERT(VARCHAR(8), dt.EndTime, 108) END AS EndTime
            FROM dbo.TrainingScheduleRequest_DT dt
            WHERE dt.ScheduleID = ht.ScheduleID
            FOR JSON PATH
        ) AS Details
    FROM dbo.TrainingScheduleRequest_HT ht
    WHERE ht.ScheduleID = @ScheduleID;
END
GO
/****** Object:  StoredProcedure [dbo].[INS_TrainingSchedule]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INS_TrainingSchedule]
    @RequestMode       VARCHAR(50),
    @Sector            VARCHAR(50),
    @TrainingScheduleCode VARCHAR(50),
	@CreatedUserID INT,
    @TrainingSchedule_DT_JSON NVARCHAR(MAX),
	@Status INT,
    @ScheduleID        INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert Header
        INSERT INTO dbo.TrainingScheduleRequest_HT
        (
            RequestMode,
            Sector,
            CreatedUserID,       
            CreatedDate,
            Status,
            TrainingScheduleCode
        )
        VALUES
        (
            @RequestMode,
            @Sector,
            @CreatedUserID,                
            GETDATE(),
            @Status,                   
            @TrainingScheduleCode
        );

        -- Get the new ScheduleID
        SET @ScheduleID = SCOPE_IDENTITY();

        -- Insert Details from JSON
        INSERT INTO dbo.TrainingScheduleRequest_DT
        (
            ScheduleID,
            TrainingDate,
            Day,
            Week,
            CourseID,
            VenueID,
            StartTime,
            EndTime
        )
        SELECT
            @ScheduleID,
            JSON_VALUE([value], '$.Date') AS TrainingDate,
            JSON_VALUE([value], '$.Day') AS Day,
            JSON_VALUE([value], '$.Week') AS Week,
            JSON_VALUE([value], '$.Course') AS CourseID,
            JSON_VALUE([value], '$.Venue') AS VenueID,
            JSON_VALUE([value], '$.StartTime') AS StartTime,
            JSON_VALUE([value], '$.EndTime') AS EndTime
        FROM OPENJSON(@TrainingSchedule_DT_JSON);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTrainingRequests]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllTrainingRequests]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        h.RequestId,
        h.RequestDate,
        h.TrainingTitle,
        h.TrainingCategory,
        h.Location,
        h.FromDate,
        h.ToDate,
        h.RequestedCost,
        h.PaymentMode,
        h.RequesterName,
        h.Department,
        h.ContactNo,
        h.Status,
        h.CreatedUserId,
        h.CreatedOn,
        h.UpdatedUserId,
        h.UpdatedOn,
        (
            SELECT
                --d.StaffId,
                d.FullName,
                d.Designation,
                d.Language,
                d.Nationality,
                d.CostCenter,
                d.Remarks,
                d.CreatedUserId,
                d.CreatedOn,
                d.UpdatedUserId,
                d.UpdatedOn
            FROM TrainingRequest_DT d
            WHERE d.RequestId = h.RequestId
            FOR JSON PATH
        ) AS TraineesJson
    FROM TrainingRequest_HT h
    ORDER BY h.CreatedOn DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardResultCounts]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDashboardResultCounts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Pending Training Requests
        (SELECT COUNT(*) 
         FROM TrainingRequest_HT 
         WHERE Status = 'PENDING') AS TNRRequestCount,

        -- Training Schedule Status = 4 Count
        (SELECT COUNT(*) 
         FROM TrainingScheduleMaster 
         WHERE Status = 4) AS TrainigScheduleCount;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTNRReport]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTNRReport]
(
    @RequestType INT,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        RequestId,
        RequestDate,
        TrainingTitle,
        TrainingCategory,
        Location,
        FromDate,
        ToDate,
        RequestedCost,
        PaymentMode,
        RequesterName,
        Department,
        ContactNo,
        Status,
        CreatedOn,
        UpdatedOn,
        CreatedUserId,
        UpdatedUserId
    FROM TrainingRequest_HT
    WHERE
        -- Date Filter
        (@FromDate IS NULL OR CAST(CreatedOn AS DATE) >= @FromDate)
        AND (@ToDate IS NULL OR CAST(CreatedOn AS DATE) <= @ToDate)

        -- Status Filter
        AND
        (
            @RequestType = 0
            OR (@RequestType = 1 AND Status = 'Pending')
            OR (@RequestType = 2 AND Status = 'Completed')
        )

    ORDER BY CreatedOn DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTNRRequestById]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTNRRequestById]
    @RequestId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        HT.RequestDate,
        HT.TrainingTitle,
        HT.TrainingCategory,
        HT.Location,
        HT.FromDate,
        HT.ToDate,
        HT.RequestedCost,
        HT.PaymentMode,
        HT.RequesterName,
        HT.Department,
        HT.ContactNo,
        HT.CreatedUserId,
        HT.CreatedOn,
        HT.UpdatedUserId,
        HT.UpdatedOn,
		HT.Status,

        (
            SELECT 
                DT.StaffId,
                DT.FullName,
                DT.Designation,
                DT.Language,
                DT.Nationality,
                DT.CostCenter,
                DT.Remarks,
                DT.CreatedUserId,
                DT.CreatedOn,
                DT.UpdatedUserId,
                DT.UpdatedOn
            FROM TrainingRequest_DT DT
            WHERE DT.RequestId = HT.RequestId
            FOR JSON PATH
        ) AS Trainees

    FROM TrainingRequest_HT HT
    WHERE HT.RequestId = @RequestId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingRequestsByFiltered]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetTrainingRequestsByFiltered]
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @Status INT = NULL,
    @RequesterName NVARCHAR(100) = NULL,
    @Department NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        h.RequestId,
        h.RequestDate,
        h.TrainingTitle,
        h.TrainingCategory,
        h.Location,
        h.FromDate,
        h.ToDate,
        h.RequestedCost,
        h.PaymentMode,
        h.RequesterName,
        h.Department,
        h.ContactNo,
        h.Status,
        h.CreatedUserId,
        h.CreatedOn,
        h.UpdatedUserId,
        h.UpdatedOn,
        (
            SELECT
                d.StaffId,
                d.FullName,
                d.Designation,
                d.Language,
                d.Nationality,
                d.CostCenter,
                d.Remarks,
                d.CreatedUserId,
                d.CreatedOn,
                d.UpdatedUserId,
                d.UpdatedOn
            FROM TrainingRequest_DT d
            WHERE d.RequestId = h.RequestId
            FOR JSON PATH
        ) AS TraineesJson
    FROM TrainingRequest_HT h
    WHERE 1 = 1
        -- Filter by FromDate and ToDate if provided
        AND (@FromDate IS NULL OR h.RequestDate >= @FromDate)
        AND (@ToDate IS NULL OR h.RequestDate <= @ToDate)
        -- Filter by Status if provided
        AND (@Status IS NULL OR h.Status = @Status)
        -- Filter by RequesterName if provided (partial match)
        AND (@RequesterName IS NULL OR h.RequesterName LIKE '%' + @RequesterName + '%')
        -- Filter by Department if provided (partial match)
        AND (@Department IS NULL OR h.Department LIKE '%' + @Department + '%')
    ORDER BY h.RequestDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingRequestsByUser]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetTrainingRequestsByUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        h.RequestId,
        h.RequestDate,
        h.TrainingTitle,
        h.TrainingCategory,
        h.Location,
        h.FromDate,
        h.ToDate,
        h.RequestedCost,
        h.PaymentMode,
        h.RequesterName,
        h.Department,
        h.ContactNo,
        h.Status,
        h.CreatedUserId,
        h.CreatedOn,
        h.UpdatedUserId,
        h.UpdatedOn,
        (
            SELECT
                d.StaffId,
                d.FullName,
                d.Designation,
                d.Language,
                d.Nationality,
                d.CostCenter,
                d.Remarks,
                d.CreatedUserId,
                d.CreatedOn,
                d.UpdatedUserId,
                d.UpdatedOn
            FROM TrainingRequest_DT d
            WHERE d.RequestId = h.RequestId
            FOR JSON PATH
        ) AS TraineesJson
    FROM TrainingRequest_HT h
    WHERE h.CreatedUserId = @UserId
    ORDER BY h.RequestDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingSchedule_ByVenueID]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTrainingSchedule_ByVenueID] --2003,'calendar'
    @VenueID INT,
    @RequestMode NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        HT.ScheduleID,
        HT.RequestMode,
        HT.Sector,
        HT.CreatedUserId,
        HT.CreatedDate,
        ISNULL(TRH.Status, 'R&T details pending') AS Status,
        HT.TrainingScheduleCode,

        DT.ScheduleDetailID,
        FORMAT(DT.TrainingDate, 'dd/MM/yyyy') AS TrainingDate,
        DT.Day,
        DT.Week,
        DT.CourseID,
        CM.LocationDescription AS CourseName,
        DT.VenueID,
        VM.VenueDescription AS VenueName,
        DT.StartTime,
        DT.EndTime

    FROM [dbo].[TrainingScheduleRequest_HT] HT
    INNER JOIN [dbo].[TrainingScheduleRequest_DT] DT
        ON HT.ScheduleID = DT.ScheduleID
    LEFT JOIN [dbo].[CourseMaster] CM
        ON DT.CourseID = CM.CourseID
    LEFT JOIN [dbo].[VenueMaster] VM
        ON DT.VenueID = VM.VenueID
    LEFT JOIN [dbo].[TrainingRequest_HT] TRH
        ON DT.ScheduleDetailID = TRH.ScheduleDetailID  -- check TrainingRequest_HT

    WHERE DT.VenueID = @VenueID
      AND (@RequestMode IS NULL OR HT.RequestMode = @RequestMode)

    ORDER BY DT.TrainingDate, DT.StartTime;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingScheduleDetail_ByID]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTrainingScheduleDetail_ByID] 
    @ScheduleDetailID INT
AS
BEGIN
    SET NOCOUNT ON;

    ---------------------------------------------
    -- 1. GET TRAINING SCHEDULE DETAILS
    ---------------------------------------------
    SELECT 
        DT.ScheduleDetailID,
        DT.ScheduleID,
        HT.TrainingScheduleCode,
        HT.RequestMode,
        HT.Sector,
        HT.Status,

        DT.TrainingDate,
        DT.Day,
        DT.Week,

        DT.CourseID,
        CM.LocationDescription AS CourseName,      

        DT.VenueID,
        VM.VenueDescription AS VenueName, 

        CM.TypeOfTraining,
        CM.ServiceType,
        CM.ServiceProvider,
        CM.Price,

        DT.StartTime,
        DT.EndTime,

        HT.CreatedUserId,
        HT.CreatedDate

    FROM TrainingScheduleRequest_DT DT
    INNER JOIN TrainingScheduleRequest_HT HT
        ON DT.ScheduleID = HT.ScheduleID
    LEFT JOIN CourseMaster CM
        ON DT.CourseID = CM.CourseID
    LEFT JOIN VenueMaster VM
        ON DT.VenueID = VM.VenueID
    WHERE DT.ScheduleDetailID = @ScheduleDetailID;


    ---------------------------------------------
    -- 2. GET TRAINING REQUEST (IF EXISTS)
    ---------------------------------------------
    SELECT 
        HT.RequestId,
        HT.ScheduleDetailID,
        HT.FromDate,
        HT.ToDate,
        HT.RequesterName,
        HT.Department,
        HT.ContactNo,
        HT.CreatedUserId,
        HT.CreatedOn,
        HT.UpdatedUserId,
        HT.UpdatedOn,
		HT.Status ,

        -- Trainees JSON
        (
            SELECT 
                DT.StaffId,
                DT.FullName,
                DT.Designation,
                DT.Language,
                DT.Nationality,
                DT.CostCenter,
                DT.Remarks,
                DT.CreatedUserId,
                DT.CreatedOn,
                DT.UpdatedUserId,
                DT.UpdatedOn
            FROM TrainingRequest_DT DT
            WHERE DT.RequestId = HT.RequestId
            FOR JSON PATH
        ) AS Trainees

    FROM TrainingRequest_HT HT
    WHERE HT.ScheduleDetailID = @ScheduleDetailID;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVenueListFromTrainingSchedule]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetVenueListFromTrainingSchedule]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT
        v.VenueID AS VenueId,
        v.VenueDescription,
        v.Status,
        v.CreatedUserId
    FROM TrainingScheduleRequest_DT tr
    INNER JOIN VenueMaster v
        ON tr.VenueID = v.VenueID
    INNER JOIN TrainingScheduleRequest_HT ht
        ON tr.ScheduleID = ht.ScheduleID   -- connect DT with HT
    WHERE v.Status = 1                     -- only active venues
      AND ht.Status = 4                    -- only where header status is 4
    ORDER BY v.VenueDescription;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTrainingRequest]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertTrainingRequest]

    @ScheduleID INT,
    @ScheduleDetailID INT,
    @FromDate DATE,
    @ToDate DATE,
	@RequesterName NVARCHAR(100),
    @Department NVARCHAR(100),
    @ContactNo NVARCHAR(20),
    @CreatedUserId INT,
    @TraineesJson NVARCHAR(MAX),
	@TNRStatus NVARCHAR(20)
    --@RequestDate DATE,
    --@TrainingTitle NVARCHAR(200),
    --@TrainingCategory NVARCHAR(50),
   -- @Location NVARCHAR(100),
   
    --@RequestedCost DECIMAL(18,2),
    --@PaymentMode NVARCHAR(50),
   
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @NewRequestId INT;

		IF EXISTS (
               SELECT 1 
               FROM TrainingRequest_HT
               WHERE ScheduleDetailID = @ScheduleDetailID
               )
               BEGIN
                   SELECT 
                       0 AS Status,
                       'Training request already exists for this ScheduleDetailID' AS Message,
                       NULL AS RequestId;
               
                   RETURN;
               END;
        -- Insert Header
        INSERT INTO TrainingRequest_HT
        (
            --RequestDate, TrainingTitle, TrainingCategory, Location, RequestedCost, PaymentMode,
			FromDate, ToDate,
            RequesterName, Department, ContactNo,
            CreatedUserId, CreatedOn,ScheduleID,ScheduleDetailID,Status
        )
        VALUES
        (
            --@RequestDate, @TrainingTitle, @TrainingCategory, @Location, 
            --@RequestedCost, @PaymentMode, 
			@FromDate, @ToDate,
			@RequesterName, @Department, @ContactNo,
            @CreatedUserId, GETUTCDATE(),@ScheduleID,@ScheduleDetailID,@TNRStatus
        );

        SET @NewRequestId = SCOPE_IDENTITY();

        -- Insert Details
        INSERT INTO TrainingRequest_DT
        (
            RequestId, StaffId, FullName, Designation, Language,
            Nationality, CostCenter, Remarks, CreatedUserId, CreatedOn
        )
        SELECT
            @NewRequestId,
            JSON_VALUE(value, '$.StaffId'),
            JSON_VALUE(value, '$.FullName'),
            JSON_VALUE(value, '$.Designation'),
            JSON_VALUE(value, '$.Language'),
            JSON_VALUE(value, '$.Nationality'),
            JSON_VALUE(value, '$.CostCenter'),
            JSON_VALUE(value, '$.Remarks'),
            @CreatedUserId,
            GETUTCDATE()
        FROM OPENJSON(@TraineesJson);

        COMMIT TRANSACTION;

        -- ✅ SUCCESS RESPONSE
        SELECT 
            1 AS Status,
            'Training request created successfully' AS Message,
            @NewRequestId AS RequestId;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();

        -- ❌ FAILURE RESPONSE
        SELECT 
            0 AS Status,
            @ErrorMessage AS Message,
            NULL AS RequestId;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTNRApproved]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTNRApproved]
    @ScheduleDetailID INT,
    @Status NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TrainingRequest_HT
    SET 
        Status = @Status,
        UpdatedOn = GETDATE()
    WHERE ScheduleDetailID = @ScheduleDetailID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateTNRReject]    Script Date: 13/04/2026 08:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTNRReject]
    @ScheduleDetailID INT,
    @RejectReason NVARCHAR(MAX),
	@Status NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TrainingRequest_HT
    SET 
        RejectReason = @RejectReason,
		Status = @Status,
        UpdatedOn = GETDATE()
    WHERE ScheduleDetailID = @ScheduleDetailID;
END; 
GO
